.testimonilas_main
{
    background-color: #ecf5ff;
    padding-top: 70px;
    margin-top: 50px;
}

.testimonials_name p
{
    color: #0554f2;
    font-size: 15px;
    border-left: 7px solid #0d6efd;
    padding-left: 10px;
}
.testimonials_name h3{
    font-size: 35px;
    margin-top: -1px;

}


#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  /* card */
  .slidbar_main
  {
    justify-content: center;
    gap: 30px;
  }
.testimonials_card
{
    border-radius: 10px;
    background-color: white;
    height: 300px;
    margin-bottom: 10px;
}
.testimonials_card h1{
    color: #231F20;
    padding-top: 20px;
}
.testimonials_card p
{
    padding-bottom: 15px;
    text-align: justify;
    color: gray;
    padding-left: 12%;
    padding-right: 12%;
    line-height: 25px;
}
.person_view
{
    width: 400px;
    cursor: pointer;

}
.person_view img
{
    margin-left: 50px;
    width: 100%;
    height: auto;
}

@media((max-width:950px)and (min-width:415px)){
  .person_view{
    margin-left: -20%;
  }
}
@media(max-width:414px){
  #slider_heading{
    font-size: 27px;
  }
}